.message-feed {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin: 3px;
    overflow: scroll;
    scroll:;
}
#message {
    width: 502px;
    height: 100px;
    margin: 3px;
}
#send {
    margin: 3px;
}
#user {
    margin: 3px;
}
#connection-status {
    margin: 3px;
    padding: 2px;
}
.message {
    width: 100%;
}
.timestamp {
    display: none;
}
